.ChatHeader {
  padding: 30px 0 20px;
  background-color: #2f3542;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  color: white;
  text-align: center;
  min-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-right: 10px;
  }

  h1 {
    margin: 0;
    font-size: 18px;
    font-weight: 300;
  }
}
