.ChatInput {
  padding: 20px;
  background-color: #dfe4ea;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  display: flex;
  justify-content: space-between;

  input,
  button {
    border-radius: 18px;
    font-size: 16px;
    line-height: 1.25;
    padding: 6px 10px;
    box-sizing: border-box;
  }

  input {
    border: solid 1px #ced6e0;
    background-color: #fafafa;
    flex: 1;
    margin-right: 10px;
  }

  button {
    background-color: #5352ed;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 300;
  }
}
